<% provide(:title, "Home") %>                                       <%#application.html.erbにtitleを渡す%>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>